<!DOCTYPE html>
<html>

<head>
    <title>
        博客列表
    </title>
    <link rel='stylesheet' href='/stylesheets/feeling.css' />
</head>

<body>
    <%- include ../header.ejs %>
        <h1>心情列表</h1>
        <p class="sub_title">在时间的延长线上记录心情的点点滴滴,但愿如梭岁月待你我温柔如初</p>
        <hr>
        <div class="container">
            <% for(var i=0;i<articles.length;i++) { %>
                <div class="blogs">

                    <div class="triangle-left">
                    </div>
                    <div class="title">
                        <%= articles[i].title %>
                    </div>
                    <div id="content">
                        <%- articles[i].content %>
                    </div>
                    <div class="dateview">
                        <%= articles[i].submitTime.format('yyyy-MM-dd') %>
                    </div>
                </div>


                <% }%>
        </div>
        <%- include ../footer.ejs %>

</body>

</html>