<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="format-detection" content="telephone=yes" />
    <meta name="msapplication-tap-highlight" content="no" />
    <title>
        后台功能编辑
    </title>
    <script src="/javascripts/jquery.js"></script>
    <script src="/vuejs/vue.js"></script>

    <link rel='stylesheet' href='/stylesheets/responsive.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/common.css' />

    <link rel='stylesheet' href='/stylesheets/admin.css' />

</head>

<body>
    <div class="container">
        <%- include ../header.ejs %>
            <div class="row mainbody admin">
                <form method="post" action="/type/edit" class="create">
                    <input type="hidden" name="id" value="<%= type.id %>">
                    <div>
                        <label for="">上级模块</label>
                        <select name="parent" id="">
                    <option value="">没有上级</option>
                    <% for(var i=0;i<types.length;i++){ %>
                        <% if(types[i].id==type.parent){ %>
                        <option selected value="<%= types[i].id %>"><%= types[i].name %></option>
                        <% } else { %>
                        <option value="<%= types[i].id %>"><%= types[i].name %></option>
                    <% }} %>
                </select>
                    </div>

                    <div>
                        <label>模块名称</label>
                        <input type="text" name="name" placeholder="模块名称" value="<%= type.name %>" />
                    </div>

                    <input type="submit" class="button" />
                </form>
            </div>
            <%- include ../footer.ejs %>
    </div>
</body>

</html>
<script src="/javascripts/article.js"></script>