<!DOCTYPE html>
<html>

<head>
    <title>
        后台管理
    </title>
    <link rel='stylesheet' href='/stylesheets/admin.css' />

</head>

<body>
    <%- include ../header.ejs %>
        <div class="container">
            <a class="add" href="/type/add">添加模块</a>
            <div>

            </div>
            <table>
                <thead>
                    <tr>
                        <th>上级模块</th>
                        <th>模块名称</th>
                        <th>操作</th>
                    </tr>

                </thead>
                <tbody>
                    <% for(var i = 0;i< types.length;i++){ %>
                        <tr>
                            <td>
                                <%= types[i].parent %>
                            </td>
                            <td>
                                <%= types[i].name %>
                            </td>
                            <td>
                                <a href="/type/edit?id=<%= types[i].id %>">编辑</a>
                                <a href="/type/delete?id=<%= types[i].id %>">删除</a>
                            </td>
                        </tr>
                        <% } %>

                </tbody>
            </table>

        </div>
        <%- include ../footer.ejs %>
</body>

</html>